@model SQH.Entities.Models.MapaAlocacao.MapaAlocacaoModel


@{
    ViewData["Title"] = "Mapa de Alocação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        table.table-fixed tbody {
            overflow-y: scroll;
            height: 350px;
            display: block;
        }

        table.table-fixed thead {
            display: table-row;
        }

        .scroll .tabco1 {
            background: #fff;
            padding: 8px 13px !important;
            max-width: 138px;
        }

        .scroll th.tabco1 {
            background: #fff;
            font-size: 18px;
            text-transform: uppercase;
            color: #000;
        }

        .scroll th.tabTheDreamTeam {
            background: #00C853;
            padding: 20px 13px !important;
            text-transform: uppercase;
            border-right: 2px solid #ddd;
            vertical-align: middle;
            font-weight: bold;
            color: #FFF;
        }

        .colRecurso {
            padding: 8px 13px !important;
            text-transform: uppercase;
            border-right: 2px solid #ddd;
            vertical-align: middle;
            font-weight: bold;
            color: #FFF;
        }

        .scroll th.tabTheDreamTeam:last-child, .scroll td:last-child {
            border-right: none;
        }

        .scroll span {
            width: 85px;
            display: block;
        }

        .scroll td, th {
            height: 38px;
        }

        .scroll {
            padding-bottom: 5px;
            overflow-y: auto
        }

            .scroll tr th:first-child, .scroll tr td:first-child {
                border-left: solid 1px #DDEFEF;
                border-right: solid 1px #DDEFEF;
                left: 0;
                top: auto;
            }

            .scroll table {
                min-width: 100% !important;
                max-width: none !important;
            }

            .scroll th.fixed {
                max-width: 138px;
                background-color: #FFF;
            }

        .legeanda {
            margin-top: 0;
        }
    </style>
}


<div class="container">
    <h2>Mapa de Alocação</h2>
    <hr class="White-Yellow">

    <div class="row">
        <div class="col-md-3 pull-right">
            <h3 class="col-md-12 small text-center legeanda"><strong>Legenda</strong></h3>
            <table class="table-condensed table-hover col-md-12 pull-right">
                <tbody>
                    <tr>
                        @foreach (var itemTipoAlocacao in Model.TipoAlocacao)
                        {
                            <td class="text-center" style="background-color:@itemTipoAlocacao.Cor">
                                <span data-toggle="tooltip" data-placement="top" title="@itemTipoAlocacao.Nome">@itemTipoAlocacao.Sigla</span>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="scroll">
                    <table class="table table-condensed table-hover table-fixed">
                        <thead>
                            <tr>
                                <th class="fixed tabTheDreamTeam small text-center"><span></span></th>
                                @foreach (var itemRecurso in Model.Recurso)
                                {
                                    <th class="tabTheDreamTeam small text-center">
                                        <span>@itemRecurso.Nome</span>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemData in Model.Datas)
                            {
                                <tr>
                                    <td class="tabco1">
                                        <span data-toggle="tooltip" data-placement="top" title="@itemData.Data">@itemData.Data</span>
                                    </td>
                                    @foreach (var itemRecurso in itemData.ProjetoRecurso)
                                    {
                                        <td style="background-color:@itemRecurso.Cor" class="colRecurso text-center">
                                            <span data-toggle="tooltip" data-placement="top" title="@itemRecurso.NomeProjeto">@(itemRecurso.IdProjeto > 0 ? itemRecurso.IdProjeto.ToString() : "")</span>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>