@model SQH.Entities.Models.MapaAlocacao.MapaAlocacaoModel


@{
    ViewData["Title"] = "teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>

        .scroll .tabco1 {
            background: #fff;
            width: 40%;
            padding: 10px !important;
            width: 140px;
        }

        .scroll th.tabco1 {
            background: #fff;
            padding: 32px 10px !important;
            font-size: 18px;
            text-transform: uppercase;
            color: #000;
        }

        .scroll .tabco2 {
            background: #009688;
            text-align: center;
            color: #fff;
        }

        .scroll th.tabTheDreamTeam, .colRecurso {
            background: #00C853;
            padding: 20px 5px !important;
            text-transform: uppercase;
            border-right: 2px solid #ddd;
            vertical-align: middle;
            font-weight: bold;
            color: #FFF;
        }

            .scroll th.tabTheDreamTeam:last-child, .scroll td:last-child {
                border-right: none;
            }

        .scroll .tabco3 {
            background: #03A9F4;
            text-align: center;
            color: #fff;
        }

        .scroll th.tabco3 {
            background: #039BE5;
            padding: 20px 10px !important;
            font-size: 18px;
            text-transform: uppercase;
        }

        .scroll .tabco4 {
            background: #EF5350;
            text-align: center;
            color: #fff;
        }

        .scroll th.tabco4 {
            background: #E53935;
            padding: 20px 10px !important;
            font-size: 18px;
            text-transform: uppercase;
        }

        .scroll span {
            width: 140px;
            display: block;
        }

        .scroll td, th {
            height: 54px;
        }

        #PricingTab {
            position: relative;
        }

        .scroll {
            margin-left: 140px;
            overflow-x: scroll;
            padding-bottom: 5px;
        }

            .scroll tr th:first-child, .scroll tr td:first-child {
                border-left: solid 1px #DDEFEF;
                border-right: solid 1px #DDEFEF;
                left: 0;
                position: absolute;
                top: auto;
            }

            .scroll table {
                width: auto !important;
                max-width: none !important;
            }

            .scroll .fixed {
                border: 0 !important;
            }
    </style>
}


<div class="container">
    <h2>Mapa de alocação</h2>
    <hr class="White-Yellow">
    <div class="col-md-3 pull-right">
        <h3 class="col-md-12 small text-center"><strong>Legenda</strong></h3>
        <table class="table-condensed table-hover col-md-12 pull-right">
            <tbody>
                <tr>
                    @foreach (var itemTipoAlocacao in Model.TipoAlocacao)
                    {
                        <td class="text-center" style="background-color:@itemTipoAlocacao.Cor">
                            <span data-toggle="tooltip" data-placement="top" title="@itemTipoAlocacao.Nome">@itemTipoAlocacao.Sigla</span>
                        </td>
                    }
                </tr>
            </tbody>
        </table>

        <h3 class="col-md-12 small text-center"><strong>Frente de alocação</strong></h3>
        <table class="table-condensed table-striped table-hover col-md-12 pull-right">
            <tbody>
                @foreach (var itemProjetos in Model.Projetos)
                {
                    <tr>
                        <td class="text-center">@itemProjetos.IdProjeto</td>
                        <td class="text-center">@itemProjetos.Nome</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="scroll">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="tabco1 fixed"></th>
                            @foreach (var itemRecurso in Model.Recurso)
                            {
                                <th class="tabTheDreamTeam small text-center">
                                    <span>@itemRecurso.Nome</span>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tabco1">Qua 17/01/2018</td>
                            @foreach (var itemRecurso in Model.Recurso)
                            {
                                <td class="colRecurso tabco2"></td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
