@model SQH.Entities.Models.Projeto.ProjetoModel

<table class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>Tipo de Alocação</th>
            <th>Período Inicial</th>
            <th>Período Final</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Alocacoes)
        {
            <tr>
                <td>
                    @item.TipoAlocacao
                    <input type="hidden" asp-for="@item.IdTipoAlocacao" />
                    <input type="hidden" asp-for="@item.IdAlocacao" />
                </td>
                <td>
                    @item.DataInicio.ToShortDateString()
                </td>
                <td>
                    @item.DataFim.ToShortDateString()
                </td>
                <td class="text-center">
                    <a href="#" title="Editar Período">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a href="#" title="Editar Recursos">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="#" title="Remover Alocação">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>